* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: grey;
  font-family: 'Cairo', sans-serif;
  color: #07575b;
  background-color: #c4dfe6;
}

header {
  width: 100%;
  padding: 10px;
  background-color: #003b46;
  color: white;
  text-align: center;
}

h2,
legend {
  color: #66a5ad;
}

legend {
  padding: 30px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

input::placeholder {
  text-align: right;
  color: #66a5ad;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.wrapper .container {
  text-align: center;
  border-bottom: 5px solid #003b46;
  padding: 0 10px;
  margin-bottom: 5px;
}

.wrapper .container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.wrapper .container p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 40px;
}

form, hr {
  border-top: 3px solid #003b46;
}

.contact,
.newsletter {
  border: 0;
  padding: 0;
  display: flex;
}

.contact input,
.contact select,
textarea {
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  background-color: #eee;
  border: none;
  border-radius: .5em;
  resize: none;
  transition: .5s;
}

textarea {
  height: 9em;
}

input:focus,
select:focus,
textarea:focus{
  outline: 0;
  transform: scale(1.03);
  box-shadow: 1px 2px 3px rgba(0, 59, 70, 0.5);
}

.zipcode {
  display: flex;
  flex-direction: column;
}
.zipcode input{
  width: 35%;
}
.newsletter label:first-of-type{
  margin-top: 0
}

.newsletter label {
  margin: 30px 0 15px;
}

button {
  outline: 0;
  width: 100%;
  margin: 20px 0 0;
  padding: 15px;
  border-radius: .5em;
  background-color: #003b46;
  color: white;
  transition: .2s;
}

button:hover,
button:focus {
  transform: scale(1.04);
}

button:active {
  transform: scale(1);
}

input[type="checkbox"],
input[type="radio"]{
  margin: 10px 10px 0 0 ;
}

footer {
  text-align: center;
  height: 300px;
  font-style: italic;
}

@media (min-width: 768px) {
  .wrapper {
    width: 60%;
    margin: auto;
  }
  .contain label {
    flex-basis: 25%
  }
  .contact input:not([id="zipcode"]),
  .contact select{
    width: 75%;
    align-self: flex-end;
  }

  .contact .contain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

  .zipcode {
    flex-direction: row;
  }
}
